/* BALISES */

footer {
    background-color: rgb(27, 35, 39);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    min-height: 176px;
}

p {
    padding: 0 25px;
    margin: auto;
}

div {
    margin: 5px 0;
}

a {
    font-size: large;
}

body {
    background-color: rgb(13, 22, 27);
}

li {
    margin: auto;
    padding: 0 5px;
}

button {
    margin: auto 5px;
}

/* ID */



/* CLASSES */

.logogit {
    height: 40px;
    width: auto;
    border-radius: 20px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin-top: 5px;
}

.logogit:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(182, 182, 182, 0.2);
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.conditions {
    color: rgb(168, 168, 168);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.conditions p {
    margin: 0;
    padding: 0 10px;
}

.conditions p:hover {
    cursor: pointer;
}

.copyright {
    font-size: 25px;
}

.copyr {
    font-size: xx-large;
}

.navbar-brand {
    color: beige;
}

.py-5 {
    margin: 173px auto;
}

.text-uppercase {
    font-size: x-large;
}

.text-gradient {
    color: #6c757d;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* POLICE */

.original-surfer-regular {
    font-family: "Original Surfer", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* RESPONSIVES */

@media (max-width: 486px) {
    .conditions {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }
}