/* styles.css */

/* Couleur de fond principale */
body {
    background-color: rgb(13, 22, 27);
    color: #ffffff; /* Texte en blanc pour contraster avec le fond sombre */
}

/* Couleur de fond de la navigation */
.navbar {
    background-color: rgb(13, 22, 27);
}

/* Couleur de fond du pied de page */
footer {
    background-color: rgb(13, 22, 27);
}

/* Couleur de fond des cartes et des sections */
.bg-light {
    background-color: rgb(13, 22, 27) !important;
    color: #ffffff; /* Texte en blanc pour contraster avec le fond sombre */
}

/* Couleur des boutons */
.btn-primary {
    background-color: rgb(13, 22, 27);
    border-color: rgb(13, 22, 27);
}

.btn-primary:hover {
    background-color: rgb(26, 35, 41); /* Couleur légèrement plus claire pour l'effet hover */
    border-color: rgb(26, 35, 41);